body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #172435ec;
}

#header {
  height: 25vmin;
  width: 100%;
  background-image: url("img/header.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#naam {
  font-size: 3.5vw;
  font-family: "Times New Roman";
  color: #ffffffec;
  position: fixed;
  top: 4.5%;
  right: 2%;
}
#about {
  height: 30%;
  width: 40%;
  border: 1px black solid;
  margin-top: 0.5%;
  margin-left: 0.5%;
  font-family: Georgia;
  font-size: 1.6vw;
  color: #ffffffec;
}
#innertxt {
  font-family: Trebuchetm MS;
  font-size: 1.6vw;
  color: #295288ec;
}
