header .container {
  .logo {
    margin-left: 190px;
  }

  nav {
    left: 360px;


    ul li {
      margin-left: 20px;
    }
  }
}

.border, .border-re {
  padding: 90px 90px 0 90px;
}

.popup {
  max-width: 50%;
}

.admin {
  form {
    row, #description {
      width: 40%;
    }
  }
}