// * header / navbar * //
.icon {
  display: none;
}

header {
  .container {
    width: 100%;
    float: left;
    height: 57px;

    .logo {
      float: left;
      padding: 10px;
      margin: 6px 6px 6px 40px;
      font-size: 15px;
      border: 5px double rgba(34, 34, 34, 0.73);
      color: $secondary;
    }

    nav {
      background-color: transparent;
      position: static;
      display: block;

      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
      }

      li {
        padding: 0 20px 0 0;
        position: relative;


        &:last-child {
          padding-bottom: 0;
        }
      }

      a {
        color: $dark-gary;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        padding: 0 20px 0 0;

        &:hover {
          color: $dark-gary;

          &::after {
            width: 100%;
          }
        }

        &::after {
          display: block;
          height: 5px;
          background-color: $dark-gary;
          width: 0;
        }
      }
    }
  }
}


.border-re {
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#hicon1 {
  margin-right: 0;
}

.hicon2 {
  margin-right: 40px;
}

.popup {
  max-width: 70%;
}

.single-projects {

  .img-container {
    height: 45vh;
  }
}
