// * header / navbar * //
.icon {
  display: none;
}

header {
  .container {
    width: 100%;
    float: left;
    height: 57px;

    .logo {
      float: left;
      padding: 10px;
      margin: 6px 6px 6px 40px;
      font-size: 15px;
      border: 5px double rgba(34, 34, 34, 0.73);
      color: $secondary;
    }

    nav {
      position: absolute;
      left: 220px;
      width: auto;
      top: -20px;
      display: block;

      ul {
        list-style: none;
      }

      li {
        padding: 0;
        float: left;
        position: relative;
        background-color: $primary;

        &:last-child {
          padding-bottom: 0;
        }
      }

      a {
        color: $dark-gary;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;

        &:hover {
          color: $dark-gary;

          &::before {
            width: 75%;
            bottom: 0;
          }
        }

        &::before {
          margin-left: 20px;
          display: block;
          height: 5px;
          background-color: $dark-gary;
          position: absolute;
          top: 30px;
          width: 0;
        }
      }
    }
  }
}

.border {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.border-re {
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#hicon1 {
  margin-right: 0;
}

.hicon2 {
  margin-right: 40px;
}

.popup {
  max-width: 70%;
}
