// Prevent adjustments of font size after orientation changes in IE on Windows Phone an in iOS.
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// apply a natural box layout model to all elements
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// * global  * //

@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

body {
  margin: 0;
  padding: 0;
  background: $secondary;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .no-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}

// * header / navbar * //

header {
  background: $primary;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    width: 100%;
    margin: 0;
    height: 57px;
  }

  .logo {
    float: left;
    padding: 10px;
    margin: 6px 6px 6px 20px;
    font-size: 15px;
    border: 5px double rgba(34, 34, 34, 0.73);
    color: $secondary;
  }

  .icon {
    position: absolute;
    text-decoration: none;
    color: $secondary;
    text-align: center;
    font-size: 30px;
    right: 20px;
    top: 14px;
    z-index: 10;
  }

  nav {
    position: absolute;
    top: 20px;
    width: 100%;
    display: none;

    ul {
      padding-top: 40px;
      list-style: none;
      height: 100%;
      padding-bottom: 20px;
    }

    li {
      z-index: 9;
      padding-top: 20px;
      position: relative;
      background-color: $secondary;

      &:last-child {
        padding-bottom: 20px;
      }
    }

    a {
      color: $primary;
      margin-left: 20px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;

      &:hover {
        color: $primary;

        &::before {
          width: 100%;
        }
      }

      &::before {
        content: "";
        display: block;
        height: 5px;
        background-color: $primary;

        position: absolute;
        top: 0;
        width: 0;

        transition: all ease-in-out 250ms;
      }
    }
  }
}

// * homepage * //
.welcome {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;


  h1 {
    color: $primary;
    font-size: 420%;
    text-align: center;
  }
}

.borderp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  .project-home {
    /* ! Also for Project page */
    flex-direction: row;
    margin: 2vh 2vh 10vh;
    border: $gary 1px solid;
    height: 50vh;
    width: 50vh;
    border-radius: 2vh;
    text-align: center;

    h1 {
      margin-top: 10px;
      font-size: 30px;
      color: $primary;
    }

    .github {
      font-size: 30px;
      color: $primary;
      margin-right: 10px;
    }
  }

  .img-size {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
  }
}

// * About * //

.border {
  padding: 15px;

  div:first-child {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #foto {
    border: $white 1px solid;
    height: 40vh;
    width: 30vh;
    border-radius: 50%;
    margin-left: 10vh;
    margin-right: 10vh;
    object-fit: cover;
  }

  #tekst {
    padding-top: 20px;
    line-height: 20px;

    h2 {
      color: $primary;
    }

    h3 {
      color: $light-gray;

      a {
        text-decoration: underline;
        color: $primary;
        transition: font-size 1s;

        &:hover {
          font-size: 16.5px;
        }
      }
    }
  }
}

// * contact * //

.border-re {
  padding: 15px;

  div:last-child {
    padding-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  #about-tekst {
    width: 100%;

    h2 {
      color: $primary;
    }

    h3 {
      color: $light-gray;
      line-height: 21px;

      a {
        text-decoration: underline;
        color: $primary;
        transition: font-size 1s;

        &:hover {
          font-size: 16.5px;
        }
      }
    }
  }

  #foto {
    border: $white 1px solid;
    height: 40vh;
    width: 30vh;
    border-radius: 50%;
    margin-left: 10vh;
    margin-right: 10vh;
    object-fit: cover;
  }
}

/* ! projects */

// * addmin * //

#hicon1 {
  margin-right: 40px;
}

.hicon2 {
  margin-right: 80px;
}

.admin {
  color: $light-gray;
  font-size: 25px;
  margin-top: 20px;
  text-align: center;

  table {
    margin: auto;
    text-align: start;

    .ticon {
      text-align: center;
    }

    th {
      color: $primary;
      padding: 10px;
    }
  }

  input {
    margin: 10px;
    background-color: $dark-gary;
    border-radius: 10px;
    color: $primary;
    border-width: 0;
    height: 30px;
  }

  .checkbox {
    height: 13px;
  }

  a {
    margin-left: 10px;
    text-decoration: none;
    color: #cf1b1b;

    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
  background-color: $dark-gary;
  padding: 10px 0;
  text-align: center;

  .container {
    max-width: 960px;
    margin: 0 auto;

    .footer-menu {
      list-style: none;
      margin: 0 0 5px 0;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        margin: 0 10px;

        a {
          text-decoration: none;
          color: #111;
          font-weight: bold;
          transition: 1s;

          &:hover {
            color: $black;
          }
        }
      }
    }

    .social-links {
      list-style: none;
      margin: 5px 0 0 0;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        margin: 0 5px;

        a {
          color: #111;
          text-decoration: none;
          font-size: 25px;
          transition: 1s;

          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}