$primary: #55d6aa;
$primary-dark: #3f9e6d;
$primary-light: #7ee5b0;
$secondary: #222;
$dark-gary: #333;
$gray: #444;
$light-gray: #777;
$white: white;
$black: black;

// hover
$primary-hover: #3f9e6d;

// youtube colors
$youtube-red: #E12B2B;
$youtube-black: #282828;

// github colors
$github-black: #24292e;
$github-gray: #6a737d;
$github-light-gray: #f6f8fa;
$github-blue: #0366d6;
$github-green: #28a745;
$github-yellow: #ffd33d;
$github-orange: #f66a0a;
$github-red: #d73a49;

// work in progress
$wip: #f6c342;